%p#notice= notice
%h1
  All Songs
%table
  %thead
    %tr
      %th Name
      %th Album
      %th{:colspan => "3"}
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.name
        %td= link_to 'Show', [song.album,song]
        %td= link_to 'Edit', edit_album_song_path(song.album,song)
        %td= link_to 'Destroy', [song.album,@song], method: :delete, data: { confirm: 'Are you sure?' }
        %td
          = song_favorite_unfavorite_link song

