<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Album:</strong>
  <%= @song.album.name %>
</p>

<%= link_to 'Edit', edit_album_song_path(@album,@song) %> |
<%= link_to 'Back', album_songs_path(@album) %>
