%p#notice= notice
%h1 Listing Albums
%table
  %thead
    %tr
      %th Name
      %th Artist
      %th User
      %th{:colspan => "3"}
  %tbody
    - @albums.each do |album|
      %tr
        %td= album.name
        %td= album.artist.name
        %td= album.user.email
        %td= link_to 'Show', [@artist,album]
        %td= link_to 'Edit', edit_artist_album_path(@artist,album)
        %td= link_to 'Destroy', [@artist,album], method: :delete, data: { confirm: 'Are you sure?' }
        %td
          = album_favorite_unfavorite_link album
%br/
= link_to 'New Album', new_artist_album_path
