<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @album.user.email %>
</p>

<%= link_to 'Edit', edit_artist_album_path(@artist,@album) %> |
<%= link_to 'Back', artist_albums_path(@artist) %>

<p id="notice"><%= notice %></p>

<h1>Track list</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @album.songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= link_to 'Show', [@album,@song] %></td>
        <td><%= link_to 'Edit', edit_album_song_path(@album,song) %></td>
        <td><%= link_to 'Destroy', [@album,@song], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= song_favorite_unfavorite_link song %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Song', new_album_song_path(@album) %>
